  <!-- Header Usuario -->
  <!-- <section class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="assets/icons/logo_wt.png" width="30" height="30" class="d-inline-block align-top" alt=""> Tips
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto">
                    <div class="input-group ml-5">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <form class="user_page_header form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Notificações</a>
                                <a class="dropdown-item" href="#">Avaliações</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Serviços</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-cogs"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Editar Perfil</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#recoveryPasswordModal">Alterar Senha</a>
                                <a class="dropdown-item" href="#">Conta</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#logoffModal">Logoff</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </div>
</section> -->
 <!-- Search Area -->
 <section class="search_section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-8">
              <div class="search_box">
                  <div class="content_title_search">
                      <h1>Tips</h1>
                      <p>Find a professional or company from any area with only one click</p>
                  </div>
                  <div class="search_box_input">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2">
                                  <i class="fas fa-search"></i>
                              </span>
                          </div>
                      </div>
                  </div>
                  <div>
                      <div class="pos-f-t">
                          <nav class="navbar navbar-dark bg-dark">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                                  aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon">

                                  </span>
                              </button>
                              <span class="text-muted">Busca Avancada</span>
                          </nav>
                          <div class="collapse" id="navbarToggleExternalContent">
                              <div class="bg-dark p-4">
                                  <div class="advanced_search_box">
                                      <div class="row">
                                          <div class="col-12 col-md-6">
                                              <div class="form-group">
                                                  <label for="localizationInput">Área</label>
                                                  <select class="form-control" id="rateSelect">
                                                      <option>Construção Civil</option>
                                                      <option>Saude</option>
                                                      <option>Beleza</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="localizationInput">Profissional</label>
                                                  <select class="form-control" id="rateSelect">
                                                      <option>Pedreiro</option>
                                                      <option>Servente</option>
                                                      <option>Pintor</option>
                                                      <option>Eletricista</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="rateSelect">Avaliação</label>
                                                  <select class="form-control" id="rateSelect">
                                                      <option>Gold</option>
                                                      <option>Prata</option>
                                                      <option>Bronze</option>
                                                      <option>Sem Avaliação</option>
                                                  </select>
                                              </div>
                                          </div>
                                          <div class="col-12 col-md-6">
                                              <div class="form-group">
                                                  <label for="areaSelect">Estado</label>
                                                  <select class="form-control" id="areaSelect">
                                                      <option>MG</option>
                                                      <option>SP</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="areaSelect">Cidade</label>
                                                  <select class="form-control" id="areaSelect">
                                                      <option>Pouso Alegre</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="areaSelect">Bairro</label>
                                                  <select class="form-control" id="areaSelect">
                                                      <option>Centro</option>
                                                      <option>Primavera</option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div>
                                      <a href="#" class="btn btn-primary">Buscar</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

