<!-- Header Usuario -->
<!-- <section class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="assets/icons/logo_wt.png" width="30" height="30" class="d-inline-block align-top" alt=""> Tips
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="mr-auto">
                    <div class="input-group ml-5">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <form class="user_page_header form-inline my-2 my-lg-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Notificações</a>
                                <a class="dropdown-item" href="#">Avaliações</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Serviços</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fas fa-cogs"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Editar Perfil</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#recoveryPasswordModal">Alterar Senha</a>
                                <a class="dropdown-item" href="#">Conta</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"  data-toggle="modal" data-target="#logoffModal">Logoff</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </nav>
    </div>
</section> -->
<section class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <img src="/assets/icons/tips_icon_light.png" width="30" height="30" class="d-inline-block align-top" alt=""> Tips
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="mr-auto">
        </div>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal" routerLinkActive="rota-ativa" routerLink="./tips/modal">Entrar
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">ou</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#singinModal">Cadastrar</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </div>
</section>
<section class="login_modal">

  <!-- Modal logar -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModal">Faça seu Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Entre com seu E-mail</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Digite sua senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group text-center">
              <p>
                Entre com:
              </p>
              <div class="row justify-content-md-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn google">
                    <input type="radio" name="options" id="option1" autocomplete="off">
                    <i class="fab fa-google-plus-g"></i>
                  </label>
                  <label class="btn face">
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    <i class="fab fa-facebook-f"></i>
                  </label>
                  <label class="btn twitter">
                    <input type="radio" name="options" id="option3" autocomplete="off">
                    <i class="fab fa-twitter"></i>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Quero ficar logado</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" routerLinkActive="rota-ativa" routerLink="../search/complete-search">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal cadastro -->
  <div class="modal fade" id="recoveryPasswordModal" tabindex="-1" role="dialog" aria-labelledby="recoveryPasswordModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recoveryPassword">Alterar Senha</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleInputPassword1">Digite sua antiga senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Digite sua nova senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Repita sua nova senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Alterar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="logoffModal" tabindex="-1" role="dialog" aria-labelledby="logoffModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="recoveryPassword">Logoff</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Deseja sair da conta?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Ficar</button>
          <button type="submit" class="btn btn-primary">Sair</button>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="singinModal" tabindex="-1" role="dialog" aria-labelledby="singinModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="singinModal">Crie já o seu cadastro!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nome</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Digite seu nome">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Sobrenome</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Digite seu sobrenome">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">E-mail</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Entre com seu e-mail">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Confirme seu E-mail</label>
                <input type="email" class="form-control" id="inputPassword4" placeholder="Repita seu e-mail">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Senha</label>
                <input type="password" class="form-control" id="inputEmail4" placeholder="Escolha uma senha">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Confirme sua senha</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Digite sua senha novamente">
              </div>
            </div>
            <div class="form-group text-center">
              <p>
                Entre com:
              </p>
              <div class="row justify-content-md-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn google">
                    <input type="radio" name="options" id="option1" autocomplete="off">
                    <i class="fab fa-google-plus-g"></i>
                  </label>
                  <label class="btn face">
                    <input type="radio" name="options" id="option2" autocomplete="off">
                    <i class="fab fa-facebook-f"></i>
                  </label>
                  <label class="btn twitter">
                    <input type="radio" name="options" id="option3" autocomplete="off">
                    <i class="fab fa-twitter"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
