<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-4">
        <div class="content_functions">
          <div class="icons_footer">
            <i class="fas fa-search"></i>
          </div>
          <div>
            <div class="functions_description">
              <div>
                <h3>Quick Find</h3>
              </div>
              <div>
                <p> Look for the professional you want in a few clicks!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="content_functions">
          <div class="icons_footer">
            <i class="fas fa-user-friends"></i>
          </div>
          <div>
            <div class="functions_description">
              <div>
                <h3>Professionals and Companies</h3>
              </div>
              <div>
                <p>Variety of professionals and companies registered, ready to serve new customers</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="content_functions">
          <div class="icons_footer">
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="functions_description">
            <div>
              <h3>Rating</h3>
            </div>
            <div>
              <p>Through evaluations of other users, choose the perfect professional to solve your problem!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="design_by">
  <div class="container">
    <p>Tips</p>
  </div>
</section>
