<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-4">
        <div class="content_functions">
          <div>
            <img src="assets/icons/quick_find.png"/>
          </div>
          <div>
            <h3>Quick Find</h3>
            <p> Look for the professional you want in a few clicks!</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="content_functions">
          <div>
            <img src="assets/icons/prof.png"/>
          </div>
          <div>
            <h3>Professionals and Companies</h3>
            <p>Variety of professionals and companies registered, ready to serve new customers</p>
          </div>
        </div>
      </div>
      <div class="col col-4">
        <div class="content_functions">
          <div>
            <img src="assets/icons/rating.png"/>
          </div>
          <div>
            <h3>Rating</h3>
            <p>Through evaluations of other users, choose the perfect professional to solve your problem!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="logo">
        <img src="assets/icons/logo_lt_blue.png" />
        <h2>Tips</h2>
      </div>
    </div>
  </div>
</section>
<section class="design_by">
  <div class="container">
    <p>Design By - Nois!</p>
  </div>
</section>