.footer {
    padding: 50px 0;
    margin-top: 100px;
}

.footer .logo {
    text-align: center !important;
    width: 100px;
    margin: 0 auto 25px;
}

.footer .logo img {
    width: 100%;
    margin: 25px 0;
}

.footer .logo h2 {
    color: #2CC5FF !important;
    font-weight: lighter;
}

.content_functions {
    padding: 20px 10px;
    text-align: center;
}

.content_functions .icons_footer i {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    font-size: 80px;
    text-align: center;
    color: #2CC5FF;
}

.content_functions h3 {
    color: #2CC5FF;
    font-weight: lighter !important;
    font-size: 26px;
}

.content_functions p {
    color: #787878;
    font-weight: lighter;
    font-size: 16px;
}

.functions_description div:first-child {
    height: 60px;
}

.functions_description div:first-child h3 {
    margin: 0px !important;
    line-height: 60px;
}

.content_functions:nth-child(1) .functions_description div:first-child h3 {
    line-height: 25px !important;
}

.design_by {
    background: #2CC5FF !important;
    text-align: center;
    height: 40px;
}

.design_by p {
    color: #fff;
    margin: 0px;
    line-height: 40px;
    font-size: 15px !important;
}
