<div class="text-center">
  <!-- <h1>Tela de Informações</h1>
  <p>Tela com os dados da Empresa/Profissional</p> -->
  <!-- <br> -->
  <br>
</div>
<section class="user_page">
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
              <div class="content_user_photo">
                  <img src="assets/images/Electrician.jpg">
              </div>
          </div>
          <div class="col-12 col-md-8 col-lg-9">
              <div class="content_user_profile">
                  <h1>José Roberto - Eletricista</h1>
                  <p>Formado na ETE. Trabalho com eletrica há 20 anos</p>
              </div>
              <div class="content_user_descrition">
                  <h3>Sobre José Roberto</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque libero magna, pellentesque at dui
                      sed, mattis elementum mauris. Aenean vel pulvinar sapien, sit amet commodo sem.</p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="content_user_contact">
                  <div class="row">
                      <div class="col-12">
                          <h3>Formas de Contato</h3>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12 col-md-6">
                          <div class="contact_user_info">
                              <i class="fas fa-phone"></i>
                              <span>(35) 9 8815-3232</span>
                          </div>
                          <div class="contact_user_info">
                              <i class="fab fa-whatsapp"></i>
                              <span>(35) 9 9958-3232</span>
                          </div>
                      </div>
                      <div class="col-12 col-md-6">
                          <div class="contact_user_info">
                              <i class="fas fa-envelope-square"></i>
                              <span>ze_rob_eletrica@gmail.com</span>
                          </div>
                          <div class="contact_user_info">
                              <i class="fas fa-map"></i>
                              <span>R. Pernambuco, 150, Medicina, Pouso Alegre - MG
                              </span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12">
              <div class="content_user_avaliations">
                  <div class="row">
                      <div class="col-12">
                          <h3>Avaliações dos usuarios</h3>
                          <p>Veja aqui as avaliações deixadas por outros usuarios</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="content_user_avaliations_filter">

                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div id="accordion">
                              <div class="card">
                                  <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <h5 class="mb-0">
                                          Carlos Rodriguez da Silva
                                      </h5>
                                      <div class="card-rating gold">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                      </div>
                                  </div>
                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                      <div class="card-body">
                                          <h3>
                                              Excelente Profissional!!!
                                          </h3>
                                          <p>
                                              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                              non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                              eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                              single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                              helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                              Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                              raw denim aesthetic synth nesciunt you probably haven't heard of them
                                              accusamus labore sustainable VHS.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                      <h5 class="mb-0">
                                          Juliana Mendes
                                      </h5>
                                      <div class="card-rating gold">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                      </div>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                      <div class="card-body">
                                          <h3>
                                              Serviço de Qualidade.
                                          </h3>
                                          <p>
                                              Mauris sed ante lorem. Donec non lobortis est. Aliquam euismod arcu pulvinar, efficitur elit a, tristique mi. Suspendisse
                                              nec vehicula turpis, at rutrum metus.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                      <h5 class="mb-0">
                                          Anderson Luiz Pereira
                                      </h5>
                                      <div class="card-rating gold">
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star"></i>
                                          <i class="fas fa-star-half"></i>
                                      </div>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                          <h3>
                                              Muito Bom!
                                          </h3>
                                          <p>
                                              Proin nec elit sit amet risus pretium pharetra eu elementum nunc. Pellentesque tempor euismod sem, in euismod magna rutrum
                                              sed. Vestibulum sed eros sagittis, hendrerit erat consequat, viverra
                                              ipsum. Aliquam auctor faucibus dictum. Suspendisse scelerisque elit vel
                                              gravida pellentesque. Nullam convallis sem vitae urna fermentum rhoncus.
                                              Quisque non enim vitae nunc dignissim euismod.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="user_location">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="content_user_location">
                      <h3>Onde está José Roberto</h3>
                      <p>Procure a melhor rota até ele com apenas um click!</p>
                      <a href="#" class="btn btn-primary">Criar Rota</a>
                  </div>
              </div>
          </div>
      </div>
      <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%20R.%20Pernambuco%2C%20150%2C%20Medicina%2C%20Pouso%20Alegre%20-%20MG&key=AIzaSyBYdtf0WKz3DFgClD0bMyrh3o_BUvTRzac"
          allowfullscreen></iframe>
  </div>
</section>
<section class="login_modal">
  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="loginModal">Faça seu Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form>
                  <div class="modal-body">
                      <div class="form-group">
                          <label for="exampleInputEmail1">Entre com seu E-mail</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Digite sua senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Quero ficar logado</label>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Entrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="modal fade" id="recoveryPasswordModal" tabindex="-1" role="dialog" aria-labelledby="recoveryPasswordModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="recoveryPassword">Alterar Senha</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form>
                  <div class="modal-body">
                      <div class="form-group">
                          <label for="exampleInputPassword1">Digite sua antiga senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Digite sua nova senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Repita sua nova senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Alterar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="modal fade" id="logoffModal" tabindex="-1" role="dialog" aria-labelledby="logoffModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="recoveryPassword">Logoff</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <p>Deseja sair da conta?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Ficar</button>
                  <button type="submit" class="btn btn-primary">Sair</button>
              </div>

          </div>
      </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="singinModal" tabindex="-1" role="dialog" aria-labelledby="singinModal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="singinModal">Faça seu Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form>
                  <div class="modal-body">
                      <div class="form-row">
                          <div class="form-group col-md-6">
                              <label for="inputEmail4">E-mail</label>
                              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Senha</label>
                              <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <label for="inputState">Estado</label>
                              <select id="inputState" class="form-control">
                                  <option selected>Escolha...</option>
                                  <option>...</option>
                              </select>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputCity">Cidade</label>
                              <input type="text" class="form-control" id="inputCity">
                          </div>
                          <div class="form-group col-md-2">
                              <label for="inputZip">CEP</label>
                              <input type="text" class="form-control" id="inputZip">
                          </div>
                      </div>
                      <div class="form-group">
                          <p>
                              Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                          </p>
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck">
                              <label class="form-check-label" for="gridCheck">
                                  Aceito os termos de uso
                              </label>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                      <button type="submit" class="btn btn-primary">Cadastrar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>


